html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

#message-container {
    width: 80%;
    max-width: 1200px;
}

#message-container div {
    background-color: #CCC;
    padding: 5px;
}

#message-container div:nth-child(2n){
    background-color:#FFF;
}

#send-container {
    position: fixed;
    padding-bottom:30px;
    bottom: 0;
    background-color: white;
    max-width: 1200px;
    width: 80%;
    display: flex;
}

#message-input{
    flex-grow: 1;
}
